* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.margin-white {
    margin: 0 5% 0 5%;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    overflow: auto;
}

#view {
    background-color: Transparent;
    background-repeat:no-repeat;
    outline: 2px solid white;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color: white;
    font-size: 30px;
    width: 150px;
    transition-duration: 0.4s;
}

#view:hover {
    background-color: slategray;
    outline: 2px solid slategray;
}

#about {
    background: rgb(253, 236, 236);
    min-height: 110vh;
}

#timeline {
    background-image: url("../images/timelineBackground.jpg");
    background-size: 100% 100%;
}

#portfolio { /*get one big basic image and split it up between the 4, skips 2 as the nav bar counts as a child in this case*/
    background-image: url("../images/portfolioBackground.jpg");
    background-size: 100% 100%;
    min-height: 110vh;
}

#contact {
    background-image: url("../images/contactBackground.jpg");
    background-size: 100% 100%;
}

#hero {
    z-index: 100;
    height: 100vh;
    width: 100%;
}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    margin: auto;
    padding: 0 10px 0 10px;
    background: rgba(158, 158, 158, 0.6); 
}

.static, .navi:hover {
    background-color: black;
    border-bottom: 2px solid blue;
}

.hidden {
    display: none;
}

.page-link {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    border-bottom: 2px solid blue;
    z-index: 99;
}

.link-wrap {
    margin-left: 30px;
    padding: 12px;
}

.section-link {
    margin-right: 20px;
    font-size: larger;
    color: white;
    text-decoration: none;
}

.section-link:active {
    color: maroon;
}

.section-link:hover {
    text-decoration: none;
}

/*------About page------*/
.about-content {
    margin-top: 100px;
}

#profilePicture {
    float: right;
    margin: 0 0 5px 10px;
}

.goal-icon {
    height: 50px; 
    width: 50px;
}

/*------Experience page------*/

.line-item {
    margin: 0 auto;
    margin-top: 150px;
    display: block;
    width: 90%;
    height: 1px;
    background: black;
}

.time-line {
    justify-content: space-evenly;
}

.single-item, .single-item-active {
    width: 6%;
    display: inline-block;
    position: relative;
    height: 100%;
    margin-right: 70px;
    transition: width .5s;
    z-index: 1;
}

.single-item > span, .single-item-active > span {
    text-align: center;
    height: 32px;
    display: block;
    font-weight: bold;
    position: absolute;
    top: 15%;
    margin-top: -8px;
    width: 100%;
    cursor: pointer;
}

.single-item > span:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: white;
    border: 1px solid black;
    margin: 0 auto 8px auto;
    border-radius: 50%;
}

.single-item-active > span:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: black;
    border: 1px solid black;
    margin: 0 auto 8px auto;
    border-radius: 50%;
}

.information {
    display: block;
    margin-top: 100px;
}

/*------Portfolio page------*/

.works {
    margin-top: 100px;
    text-decoration: underline;
    cursor: pointer;
}

.types:hover {
    opacity: 30%;
}

.portfolioPictures {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}

.modalSel {
    border: 8px solid black;
    box-shadow: 0 0 20px black;
}

.modalSel:hover {
    cursor: pointer;
    filter: brightness(110%);
}

.previous, .next {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    padding: 16px;
    background-color: burlywood;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
}

/*modal settings*/
.modal {
    display: none; /*hidden by default*/
    position: fixed; /*Stays in place*/
    z-index: 1; /*Appears ontop*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-header {
    background-color: black;
    padding: 5px 15px;
    color: white;
    text-align: center;
}
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /*15% from the top and centered*/
    border: 1px solid black;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*-----Contact Page-----*/

.contact-area {
    margin-top: 100px;
}

.contact-image {
    display: flex;
}

.contact-container {
    margin-left: auto;
    margin-right: auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
}

footer {
    background-color: black;
}

#backUp {
    position: relative;
    cursor: pointer;
    bottom: 45px;
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    background-color: chocolate;
    display: inline-block;
    width: 35px;
    height: 70px;
    font-size: xx-large;
}

.social {
    display: flex;
    justify-content: space-evenly;
}

.icons {
    max-height: 40px;
    max-width: 40px;
}